
<%= form_for @tweet, :url => {:action => :create} do |f| %>
	<div class="margin_offset">
	
	<% if session[:zombie].nil? %>
		You must be logged in to post a tweet! <%= link_to "Log In", sessions_path %>
		<br /><br />	
		
	<% else %>
		Status: <br />
		<%= f.text_area :status %> <br />

		<%= f.submit 'Submit Tweet' %>
	<% end %>

	</div>
<% end %>

