<div class="container">
	<%= form_for @tweet, :url => {:action => :create} do |f| %>
		<div class="margin_offset">
		
		<% if session[:zombie].nil? %>
			You must be logged in to post a tweet! <%= link_to "Log In", sessions_path %>
			<br /><br />	
			
		<% else %>
			Status: <br />
			<%= f.text_area :status, :cols => 35, :rows => 5, :width => '300', :maxlength => 140 %> <br />

			<button class = "btn">Submit Tweet!<% f.submit %></button>
		<% end %>

		</div>
	<% end %>
</div>

