<div class="container">

	<%= form_for @zombie, :url => {:action => :create} do |f| %>
	<div class="margin_offset">
		
		<% if session[:zombie].nil? %>
			Name: <br />
			<%= f.text_field :name, :maxlength => 15 %> <br />
			Graveyard: <br />
			<%= f.text_field :graveyard, :maxlength => 20 %> <br />

			<button class = "btn">Create Zombie!<% f.submit %></button>
		<% else %>
			You cannot create a new Zombie if you are currently logged in.
		<% end %>

	</div>

	<% end %>
</div>

